body, html{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #d66d75;
    scroll-behavior: smooth;


}

header{
    padding: 2em;
}
.nav{
    flex-grow: 1;
    display: flex;
    justify-content: center
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap:100px;
}
.nav-list a:nth-child(2){
}
.nav-list  a{
    background: linear-gradient(to right, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin: 0 auto;
    text-decoration: none;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
}
.nav-list a:hover,
.nav-list a:focus{
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin: 4px 5px 6px;
    transition: .5s;

}


.top{
    padding-bottom: 400px;
    height: 100vh;
    /*background: linear-gradient(to bottom ,#d6ae7b, #eacda3);*/
    background: linear-gradient(to bottom right, #998356, #D76D77);

}
.top h2{
    background: linear-gradient(to bottom right, #998356, #D76D77);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;

}
.top .proj{
    margin: 10px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #c33764, #1d2671);
}
.top button:hover{
    background-position: right center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}

 h1, h3,ul, li {
    background: linear-gradient(to right, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
 label {
    background: linear-gradient(to right, #D76D77, #998356);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#welcome-message  {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    font-weight: 800;
    
}
.fam-pics {
    display: flex;
    background: linear-gradient(to right, #c33764, #1d2671);
    justify-content: center;
    margin: 0 auto;
    width: 75vw;
    border-radius: 15px;
    margin-top: 10px;
   border: 5px solid #d66d75;


}

.pics {
    height: auto;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    /*border: 2px solid #85144b;*/
}

.sections {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;  

}
#personal{
    height: 100vh;
    background: linear-gradient(to bottom left, #D76D77, #998356);
    margin: 0;
    padding: 0;
    overflow: hidden;



}
.but {
    background-image:  linear-gradient(30deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(150deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(30deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(150deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(60deg, rgba(153,131,86,0.5) 25%, transparent 25.5%, transparent 75%, rgba(153,131,86,0.5) 75%, rgba(153,131,86,0.5)), linear-gradient(60deg, rgba(153,131,86,0.5) 25%, transparent 25.5%, transparent 75%, rgba(153,131,86,0.5) 75%, rgba(153,131,86,0.5));
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 17.5px, 10px 17.5px, 0 0, 10px 17.5px;
background-color: #d76d77;
    border: 3px solid #85144b;
    border-radius: 5px;

    height: 25px;
    width: 250px;
}
.but:hover{
    background-position: right center;
    transition: .5s;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    width: 100vw;
    border-radius: 5px;
    gap: 50px;

}
.links a:hover,
.links a:focus{
    background-position: right center;
    transition: .5s;
}
#projects{
    width: 50%;
    border: 3px solid ;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 30px;   

}
#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.proj{
    background-image: linear-gradient(to right, #c33764, #1d2671);
    border-radius: 5px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;


}
.exp-box {
    width: 50%;
    border: 3px solid #85144b;
    border-radius: 5px;
    margin-left: 250px;
    

}
.experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.experience-list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}
.experience-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;

}
.exp-buttons{
    color:#AC9362;
    background-image: linear-gradient(to right, #c33764, #1d2671);
    border-radius: 5px;
    width: 75%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.mod-close{
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #c33764, #1d2671);
}
.modal-page {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#mod1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 33%;
    background: linear-gradient(to bottom right, #998356, #D76D77);
    border: 3px solid #85144b;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 20%;
    pointer-events: none;
    color: transparent;
    opacity: 0;
}
#mod1-container.show{
    pointer-events: auto;
    opacity: 1;
}
#mod2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 33%;
    background: linear-gradient(to bottom right, #998356, #D76D77);
    border: 3px solid #85144b;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 20%;
    pointer-events: none;
    color: transparent;
    opacity: 0;
}
#mod2-container.show{
    pointer-events: auto;
    opacity: 1;
}
#mod3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 33%;
    background: linear-gradient(to bottom right, #998356, #D76D77);
    border: 3px solid #85144b;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 20%;
    pointer-events: none;    
    color: transparent;
    opacity: 0;
}
#mod3-container.show{
    pointer-events: auto;
    opacity: 1;
}
#mod4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 33%;
    background: linear-gradient(to bottom right, #998356, #D76D77);
    border: 3px solid #85144b;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 20%;
    pointer-events: none;
    color: transparent;
    opacity: 0;
}
#mod4-container.show{
    pointer-events: auto;
    opacity: 1;
}




#questionaire{
    height: 100vh;
}
.center{
    color: teal;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background:linear-gradient(to bottom left, #c33764, #1d2671);
    border-radius: 10px;
    padding: 10px;
}
.center .but{
    width:50px;
}
.center p{
    background: linear-gradient(to right, #D76D77, #998356);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
}
.center h1{
    text-align: center;
    padding-bottom: 20px;
    border-width: 0px;
    border-style: solid;
    border-image: linear-gradient(to right, #D76D77, #998356) 1;
    border-bottom-width: 2px;
        background: linear-gradient(to right, #D76D77, #998356);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.center form{
    padding: 0 40px;

}
form .txt_field{
    position: relative;
    border-width: 0px;
    border-style: solid;
    border-image: linear-gradient(to right, #D76D77, #998356) 1;
    border-bottom-width: 2px;
    margin: 30px 0;
}

.txt_field input{
    background: linear-gradient(to right, #D76D77, #998356);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #d86e79;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}


.txt_field label{
    position: absolute;
    top: 40%;
    left: 2%;
    background: linear-gradient(to right, #D76D77, #998356);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #D76D77;
    transform: translateyY(50%);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}
.txt_field label{
    background: linear-gradient(to right, #D76D77, #998356);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}


.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #D76D77, #998356) ;
    transition: .5s;
}
.txt_field input:focus ~label,
.txt_field input:valid ~label{
    top: -15px;

}

.txt_field button:focus ~span::before,
.txt_field button:valid ~span::before{

    width: 100%;
}

button[type="submit"],
button[type="button"]{
    width: 100%;
    background-image:  linear-gradient(30deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(150deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(30deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(150deg, #998356 12%, transparent 12.5%, transparent 87%, #998356 87.5%, #998356), linear-gradient(60deg, rgba(153,131,86,0.5) 25%, transparent 25.5%, transparent 75%, rgba(153,131,86,0.5) 75%, rgba(153,131,86,0.5)), linear-gradient(60deg, rgba(153,131,86,0.5) 25%, transparent 25.5%, transparent 75%, rgba(153,131,86,0.5) 75%, rgba(153,131,86,0.5));
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 17.5px, 10px 17.5px, 0 0, 10px 17.5px;
    background-color: #d76d77;
        height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover{
    background-position: right center;
    transition: .5s;
}
#btn-txt{
    background: linear-gradient(to bottom left, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}
 .top .but-center{
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    bottom: 0;
    left: 25%;
    background-image: linear-gradient(to right, #c33764, #1d2671);


 
}
#personal .but-center{
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    bottom: 0;
    left: 25%;
    background-image: linear-gradient(to right, #c33764, #1d2671);


 
}
#fact-container{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
}
#fact, #translated, #sentiment{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background: linear-gradient(to bottom left, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    
}
.form-buttons{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly
}
.form-buttons button {
    width: 25%;
}
i{
    margin-right:5px
}
.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top:10px;
    background: linear-gradient(to bottom left, #c33764, #1d2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#map {
    height: 100%;
  }
  